@import './styles.css';
.navbar {
    top: 0vh;
    left: 0;
    position: absolute;
    padding: 1%;
    width: 100%;
    z-index: 4;
    text-align: left;
    background-color: var(--col4);
    opacity: 0.8;
}


.nav-button {
    color: white;
    text-decoration: none;
    padding: 2vh;
    font-weight: 700;
}

.nav-button:hover {
    color: var(--col2);
}
